<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="nav" class="main-nav">
    <ul>
        <th:block th:if="${@currentUser.isAnonymous}">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/login">Login</a>
            </li>
            <li>
                <a href="/users/register">Register</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
        </th:block>

        <th:block th:unless="${@currentUser.isAnonymous}">
            <li>
                <a href="/">Add new route</a>
            </li>
            <li>
                <a href="/">Profile</a>
            </li>
            <li>
                <a  th:if="${@currentUser.isAdmin}" href="/">Admin</a>
            </li>
            <li>
                <a href="/users/logout">Logout</a>
            </li>

        </th:block>

    </ul>
</nav>

</html>