<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="nav" class="main-nav">
    <ul>

            <li >
                <a th:href="@{/}">Home</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/users/login}">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <a th:href="@{/about}">About</a>
            </li>


        <th:block sec:authorize="isAuthenticated()">
            <li>
                <a th:href="@{/routes/add}">Add new route</a>
            </li>
            <li>
                <a th:href="@{/users/profile/{username}(username = ${#authentication.name})}">Profile</a>
            </li>
            <li >
                <a   href="/">Admin</a>
            </li>
            <li>
                <form
                        th:action="@{/users/logout}"
                        th:method="POST">

                    <input class="btn btn-light nav-link" type="submit" value="Logout">
                </form>
            </li>

        </th:block>

    </ul>
</nav>

</html>